body {
  overflow: hidden;
  background-color: rgb(213, 213, 213);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -20rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.thumbnails img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin: 1rem 1rem;
  margin-top: 3rem;
}

.vs {
  font-size: 2rem;
  margin: 0 2rem;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.thumbnail-title {
  font-size: 1rem;
  margin: 0 1rem;
  text-align: center;
  margin-bottom: 1rem;
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis; /* 내용이 넘칠 경우 '...'로 대체함 */
}

.thumbnail {
  border: 1px solid gray;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: rgb(163, 163, 163);
  width: 300px; /* 썸네일 태그의 너비를 고정함 */
  text-align: center;
}

.thumbnail-views {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.thumbnail:hover {
  filter: brightness(120%);
}
